.sidebar-nav {
  margin-top: 20px;
  padding: 0;
  list-style: none;
}

.author-detail {
  margin-left: 20px;
  margin-top: 20px;
}

.book-detail {
  margin-left: 20px;
  margin-top: 20px;
}

.text-success {
    color: green;
}

.text-danger {
    color: red;
}

.text-warning {
    color: orange;
}
